<nav class="@(string.IsNullOrEmpty(Class) ? "bg-blue-500 color-primary" : Class)">
    @ChildContent
</nav>

@code {
    #region parameters
    /// <summary>
    /// The container class for the nav.
    /// Default class: bg-blue-500 color-primary
    /// Note: If color-primary is not defined, it will default to blue-500.
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// The items that will be placed on the left side of the nav.
    /// Note: This will override any of the [Parameter] NavItems on the left position.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    #endregion
}